.layout_base {
    padding: 8px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.layout_header {
    padding: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.layout_divider {
    border-color: black;
}